*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: sans-serif;
}
.home-container{
width: 100%;
height: 100%;

}

/* start of home-section1*/

.home-section1{
width: 100%;
height: 700px;
background-image: url(../../images/Background.png);
background-size: cover;
position: relative;
overflow: hidden;

}

/* home-section1 text*/
.home-content{
position: absolute;
left: 250px;
bottom: 300px;
}
.home-content h1 {
color: #fff;
margin-bottom: 30px;
font-size: 50px;


}
.home-content h1 span {
display: block;
font-size: 40px ;
font-weight: 500;
}
/* end of home-area text*/

/*  About Us & contact Us btn  */
.container-btn{
    margin-top: 25px;

}
.btn1{
 color: #01070D;
 background-color: #FAFAFA;
border: none;
display: inline-block;
text-align: center;
overflow: hidden;
z-index: 1;
padding: 10px 40px;
border-radius: 15px;
font-weight: 600;
font-size: 15px;
box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);
cursor: pointer;

}


.btn2{
 color: #fff;
 background-color:#432C11;
border: none;
display: inline-block;
text-align: center;
overflow: hidden;
z-index: 1;
padding: 11px 35px;
border-radius: 15px;
font-weight: 600;
font-size: 15px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin-left: 15px;
cursor: pointer;
}
/*  End of   About Us & contact Us btn  */


/* another type of font handling */
/* .pTag{
    font-family: "commonFont";
    color: white;
    margin-left: "20px";
} */


/* wave-shape */
.wave-shape {
width: 100%;
position: absolute;
bottom: -10px;
left: 0px;
}
.wave-shape img {
max-width: 100%;
height: auto;
border-radius: 5px;
vertical-align: middle;
}
/* end of  wave-shape */

/* email-upwork-phone ICONS */
.contact-icons  {
position: fixed;
bottom: 10px;
left: 66px;
z-index: 999;

}
.contact-icons img{ transition: all .5s;}
.contact-icons img:hover{
  transform: translateY(-5px);
}

.contact-icons .email-icon{
width: 40px;
position: relative;
right: 16px;
top: 3px;

}
.contact-icons img {
  width: 68px;
cursor: pointer;
margin-right: -30px;
}
/* end of email-upwork-phone ICONS */

/* End of home-section1*/



/* start of services section */
.services{
width: 100%;
height: 100%;
padding: 50px 0;
display: flex;
flex-direction: column;
align-items: center;
}
.services-heading{
 font-size: 40px;
 text-align: center;
 color: #050B11;
 line-height: 60px;
 font-weight: 700;
 margin: 10px 0 120px 0;
}

.services-wrapper{
width:75%;
height: 750px;
display: flex;
flex-wrap: wrap;
margin-left: auto;
margin-right: auto;
}

.services-component{
width: 349.92px;
height: 339.77px;;
border-radius: 8px;
margin-left: auto;
margin-right: auto;
padding: 30px ;
background-color: #ffffff;
box-shadow: 4px 10px 15px -4px rgba(0, 0, 0, 0.17);
transition: all .5s ;
}
.services-component:hover{
transform: translateY(-10px);
}


.services-component .services-icon {
 display: inline-block;
 margin-bottom: 10px;
 margin-top: -10px;

}
.services-component .services-icon img {
    transition: all .8s ;

    }
    .services-component:hover img {
    transform: rotateY(160deg);

    }

.services-component .services-text h3{
font-size: 20px;
font-weight: 700;
color: #01050A;
line-height: 25px;
}
.services-component .services-text p {
    font-size: 15px;
    font-weight: 400;
    margin-top: 15px;
    line-height: 18px;
    margin-bottom: 15px;
    letter-spacing: 0.5px;

 color: #969696;;
}
.services-component  a {
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    text-decoration: underline;
    letter-spacing: 0.5px;
 color: #CEAA6D;
margin-top: 10px;
}
.arrow{
width: 70px;
color: #fff;
background-color: transparent;
position: fixed;
bottom: 100px;
right: 50px;
border-radius: 50%;
transition: all .5s;
}
.arrow:hover{
transform: translateY(-5px);

}

/* End of services section */
