.TopBar_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    position: absolute;
    overflow: hidden;
    margin-top: 60px;
    transition: top  1s;
    z-index: 9999999999999999999999999999;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
  }
  .sticky-nav {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 0px;
  }
 .sticky-nav_afterPic{
   background-color: #FFFFFF;
   -webkit-transition: background-color 500ms linear;
   -ms-transition: background-color 500ms linear;
   transition: background-color 500ms linear;
   box-shadow: 0 2px 4px 0 rgba(0,0,0,.2)
 }

.TopBar_Lefticon{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 150px;
}
.topPageNone{
    display: none;
}
.topBar_right{
  margin-right: 150px;
 }
  .p{
  color:#050B11;
  text-align: center;
  padding:10px 15px 10px 15px;
  text-decoration: none;
  font-weight:bold;
  border-radius: 12px;
  width: 130px;
  height: 39.56px;
  float: right;
  font-family: CommenFont;
  cursor: pointer;
}
.pBeforeTopPic{
  color:#FFFFFF;
  text-align: center;
  padding:10px 15px 10px 15px;
  text-decoration: none;
  font-weight:bold;
  border-radius: 12px;
  width: 130px;
  height: 39.56px;
  float: right;
  font-family: CommenFont;
  cursor: pointer;
}
.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  overflow: hidden;
}
.TopBar_container .p:hover {
    color:#C8A263;
    cursor: pointer;
  }
.pBeforeTopPic:hover{
  color:#C8A263;
  cursor: pointer;
}
  .active{
    color:#C8A263;
  }

.TopBar_Lefticon_img{
    width:37px;
    height: 43px;
 }


.footer_container{
  width: 100%;
  margin-top: 200px;
  background-color: #050B11;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer_icons{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  float: right;
}
.footer_icons img:first-child{
  width:85px ;
  height: 85px;
}
.footer_rightSide{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  float: left;
}
.footer_rightSide p {
  color:#FFFFFF;
  font-family: commonFont;
   margin-top: 30px;
}
.footer_logo{
  float: left;
  width: 100%;
}
 /* !not touched yet till mobile design is ready */
  @media screen and (max-width: 600px) {
    .TopBar_container .p:not(:first-child) {display: none;}
    .TopBar_container .p.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 600px) {
    .TopBar_container.responsive {position: relative;}
    .TopBar_container.responsive .p {
      float: none;
      display: block;
      text-align: left;
    }
  }
